<html lang="en">
<html>

<head>
	<title>Address management</title>
	<th:block th:insert="~{User/fragment/layout :: head}"></th:block>
</head>

<body class="sub_page">
	<div class="back-ground_navbar">
		<th:block th:insert="~{User/fragment/layout :: header}"></th:block>
	</div>


	<div class="container max-w-7xl " style="margin-top: 180px;">
		<div class="row">
			<div class="col-3">
				<div class="card  p-2">
					<div class="mb-2" >
						<h4 style="font-weight: 600; font-size: 20px;">Tài khoản của tôi</h4>
					</div>

					<div>
						<div class="list-group ">
							<a href="/information"
								class="list-group-item list-group-item-action list-group-item-secondary "
								style="font-weight: 600;">Thông tin cá nhân</a>

							<a href="/order" class="list-group-item list-group-item-action ">Thông tin đơn hàng</a>
							<!-- <a href="#" class="list-group-item list-group-item-action ">Đổi mật khẩu</a> -->
							<a  href="/logout" class="list-group-item list-group-item-action bg-danger"
								style="color: white;">Đăng xuất</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-9 mb-4">
				<div>
					<div class="my-3">
						<h3 style=" font-weight: 800; font-size: 30px;">QUẢN LÝ ĐỊA CHỈ</h3>
					</div>
					<div class="col-12 border rounded">
						<div class=" p-3">
							<form class="row g-3" action="/address/save-or-update" method="post" th:object="${address}">
							<input type="text" class="form-control" id="apartmentNumber" name="id" th:field="*{id}" required hidden>
								<div class="col-md-6">
									<label for="inputEmail4" class="form-label">Số nhà</label>
									<input type="text" class="form-control" id="apartmentNumber" name="apartmentNumber" th:field="*{apartmentNumber}" required>
								</div>
								
								<div class="col-md-6">
									<label for="inputAddress" class="form-label">Phường/Xã</label>
									<input type="text" class="form-control" id="ward" name="ward" th:field="*{ward}" required>
								</div>
								<div class="col-6">
									<label for="inputAddress2" class="form-label">Quận/Huyện</label>
									<input type="text" class="form-control" id="district" name="district" th:field="*{district}" required>
								</div>
								<div class="col-md-6">
									<label for="inputCity" class="form-label">Thành phố/Tỉnh</label>
									<input type="text" class="form-control" id="city" name="city" th:field="*{city}" required>
								</div>
								<div class="col-md-12">
									<label for="inputCity" class="form-label">Số điện thoại	</label>
									<input type="text" class="form-control" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}" required>
								</div>
								
								<div class="col-12">
									<button type="submit" class="btn btn-primary">Lưu địa chỉ</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
		<th:block th:insert="~{User/fragment/layout :: toast}"></th:block>
	<th:block th:insert="~{User/fragment/layout :: footer}"></th:block>
	<th:block th:insert="~{User/fragment/layout :: cart-box }"></th:block>
</body>

</html>