<html lang="en">
<html>

<head>


  <title> About </title>
  <th:block th:insert="~{User/fragment/layout :: head}"></th:block>


</head>

<body class="sub_page">

 
<div class="hero_area">
    <div class="bg-box">
      <img src="https://static.vinwonders.com/production/an-toi-o-hue-min.jpg" alt="">
    </div>
    <!-- header section strats -->
    <th:block th:insert="~{User/fragment/layout :: header}"></th:block>
    <!-- end header section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
		<div class="container  ">

			<div class="row">
				<div class="col-md-6 ">
					<div class="img-box">
						<img src="User/images/about-img.png" alt="">
					</div>
				</div>
				<div class="col-md-6">
					<div class="detail-box">
						<div class="heading_container">
							<h2>
								Chúng tôi là Thìa gỗ Restaurant
							</h2>
						</div>
						<p>
							Chào mừng bạn đến với thế giới mua sắm trực tuyến tại cửa hàng của chúng tôi, nơi nổi bật
							với sự đa dạng, chất lượng và dịch vụ chăm sóc khách hàng tận tâm. Với mỗi sản phẩm, chúng
							tôi không chỉ mang đến sự tiện lợi, mà còn là một chuyến phiêu lưu khám phá phong cách và sự
							độc đáo. Dòng sản phẩm của chúng tôi không chỉ là những món đồ, mà là câu chuyện của sự sáng
							tạo và đam mê. Hãy đồng hành cùng chúng tôi trên hành trình mua sắm trực tuyến, nơi mà sự
							đẳng cấp gặp gỡ phong cách!
						</p>
						<a href="">
							Xem thêm
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

  <!-- end about section -->

  <!-- footer section -->
  <th:block th:insert="~{User/fragment/layout :: footer}"></th:block>
</body>

</html>