<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>
		Discount
	</title>
	<th:block th:insert="~{Dashboard/fragment/layout :: head}"></th:block>
</head>

<body>
	<div class="wrapper ">
		<div class="sidebar" data-color="white" data-active-color="danger">

			<th:block th:insert="~{Dashboard/fragment/layout :: bar}"></th:block>
			<div class="main-panel">
				<!-- Navbar -->
				<th:block th:insert="~{Dashboard/fragment/layout :: navtop}"></th:block>
				<!-- End Navbar -->

				<div class="content">
					<div class="row">


						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Quản lý vận chuyển</h4>
								</div>
								<div class="card-body">
									<form action="/dashboard/shipment/save-or-update" method="post"
										th:object="${shipment}" id="form">

										<div class="mb-3 col-md-12">
											<label for="exampleInputEmail1" class="form-label">Tên</label>
											<input th:field="*{name}" type="text" class="form-control" id="name" name="name"
												aria-describedby="emailHelp">
											<input th:field="*{id}" hidden>
										</div>
										<div class="mb-3 col-md-12">
											<label for="exampleInputEmail1" class="form-label">Giá trị</label>
											<input th:filed="*{price}" type="number" class="form-control" id="price" name="price"
												aria-describedby="emailHelp">

										</div>
										<div class="col-md-12">
											<button type="submit" class="btn btn-primary">Lưu</button>
										</div>
									</form>
								</div>


							</div>
						</div>
						<div class="col-md-12">
							<div class="alert alert-info alert-dismissible fade show" th:if="${success != null}">
								<button type="button" aria-hidden="true" class="close" data-dismiss="alert"
									aria-label="Close">
									<i class="nc-icon nc-simple-remove"></i>
								</button>
								<span><b th:text="${success}"> </b> </span>
							</div>
							<div class="alert alert-danger alert-dismissible fade show" th:if="${danger != null}">
								<button type="button" aria-hidden="true" class="close" data-dismiss="alert"
									aria-label="Close">
									<i class="nc-icon nc-simple-remove"></i>
								</button>
								<span><b th:text="${danger}"> </b></span>
							</div>
						</div>

						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title"> Danh sách vận chuyển</h4>
								</div>
								<div class="input-group no-border col-12">
									<input type="text" value="" class="form-control"
										placeholder="Tìm kiếm vận chuyển...">
									<div class="input-group-append">
										<div class="input-group-text">
											<i class="nc-icon nc-zoom-split"></i>
										</div>
									</div>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table class="table">
											<thead class=" text-primary">
												<th>Id</th>
												<th>Tên vận chuyển</th>
												<th>Giá trị</th>
												<th></th>
											</thead>
											<tbody>
												<tr th:each="shipment : ${shipments}">
													<td th:text="${shipment.id}"></td>
													<td th:text="${shipment.name}"></td>
													<td
														th:text="${#numbers.formatDecimal(shipment.price, 0, 'POINT', 0, 'POINT')  + 'VND'}">
													</td>
													<td class="text-right">
														<a th:href="@{/dashboard/shipment/{id} (id=${shipment.id})}"
															class="btn btn-success"> <i
																class="fa-solid fa-pen-to-square"></i></a>
														<a th:href="@{/dashboard/shipment/delete/{id} (id=${shipment.id})}"
															class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>

					</div>



				</div>
			</div>

		</div>

		<th:block th:insert="~{Dashboard/fragment/layout :: footer}"></th:block>

</body>